@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&display=swap");

body {
  background-color: #121212;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  &::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

//Utilities
.container {
  margin: 0 30px;
}

//Navbar
.navbar {
  display: flex;
  height: 100px;
  background-image: url("../images/nav_bar.png");
  z-index: 999;
  margin-bottom: 36px;

  //back button
  .back-cta {
    align-self: center;
    width: 2em;
    padding: 6px 30px;
    cursor: pointer;
  }

  h1 {
    margin: 0;
    width: 100%;
    font-size: 20pt;
    align-self: center;
  }

  //search button
  .search-cta {
    align-self: center;
    width: auto;
    width: 2em;
    float: right;
    padding: 6px 30px;
    cursor: pointer;
  }
}

//Grid Image Container
.lazy-load-image-background {
  width: 100%;
}

//Responsiveness only for desktop app - optional
@media only screen and (min-width: "768px") {
  .container {
    margin: 0 170px;
  }
}
